@{
    ViewData["Title"] = "Home Page";
}
@Html.Raw($"<h3>{Model.Directory.Directory.Name}</h3>")
@if (Model.Directory.Directory.Parents != null)
{
    @Html.ActionLink("Up", "Index", "Home", new { fileId = Model.Directory.Directory.Parents[0] })
}
<br />&mdash;&mdash;&mdash;<br/>
@foreach (Google.Apis.Drive.v3.Data.File file in Model.Directory.Files)
{
    @(file.MimeType == "application/vnd.google-apps.folder" ? Html.ActionLink(file.Name, "Index", "Home", new {fileId = file.Id}) : Html.Raw($"<a href=\"https://drive.google.com/uc?id={file.Id}\">{file.Name}</a> <a href=\"https://drive.google.com/file/d/{file.Id}/view\" target=\"_blank\">Play online</a> {QuotaModel.FormatSize(file.Size)} {file.ModifiedTime} {file.MimeType}"))
    <br />
}
